@import url('https://fonts.googleapis.com/css?family=Concert+One|Monda|Rajdhani|Lato');



@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot');
	src:url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('./fonts/icomoon.woff') format('woff'),
	url('./fonts/icomoon.ttf') format('truetype'),
	url('./fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/* Home Page */

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #F15F11;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #EE8216;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #72CCA7;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #10A296;
}


.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	/* cursor: pointer; */
	opacity: 1;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-box-pack: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-box-align: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	/* padding: 20px; */
	width: 100%;
	font-size: 2rem;
	letter-spacing: 2%;
	/* font-weight: 700; */
	text-transform: uppercase;
}


.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}


.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}


/* Page Transitions */

.fade-enter {
	opacity: 0;
	transition: all 2500ms 10s ease-in;
}

.fade-enter .fade-enter-active {
	opacity: 0;
	transition: all 750ms ease-out;
}


.fade-enter-done {
	opacity: 1;
	transition: all 750ms ease-out;
}

.fade-exit {
	opacity: 1;
}

.fade-exit.fade-exit-active{
	opacity: 0;
	transition: all 750ms ease-out;
}


/* .dcontent-wradpper {
display: flex;
flex-direction: column;
postion: absolute;
left: 0;
top: 0;
width: 100%;
} */


/* cancel button */


.cancelButton{
	float: right;
	padding-top: 1.3rem;
	padding-right: 1rem;
}

.fa .fa-remove {
	font-size: 3rem;
}


/* About page */

.aboutPage {
	overflow:hidden;
}


.yellow-text {
	color:yellow;
}

.flextry {

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	flex-flow:wrap;
	padding: 1.5rem 5% 5%;
	/* padding: calc(15% + 1.5rem) 5% 5%; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2em;
	color: white;
	flex-wrap:wrap;
}


.flextry>* {
	flex: 0 0 50%;

}

.firstdiv{
	/* background-color: blue; */
	/* align-content: center; */
	display: flex;
	justify-content: center;
}

.img-circle {
	object-fit: cover;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border:2px solid #021a40;
	/* padding: 3px; */
	background-color: #fff;
	z-index: 2;
	box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
	align-self: center;
	/* margin: auto; */
}



.messigif {
	background-color: #fff;
	z-index: 2;
	box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}



.name {
	display:flex;
	font-size: 3.5rem;
	justify-content: center;
}

.sm-heading {
	display: flex;
	margin-bottom: 2rem;
	padding: 0.2rem 1rem;
	font-size: 1.5rem;
	justify-content: center;
}


.seconddiv {
	display: flex;
	/* background-color: black; */
	padding-top: 6rem;
	justify-content: center;
	flex-direction: column;
}

.thirddiv {
	/* background-color: orange; */
	/* display: */
}

.fewThings {
	display: flex;
	font-size: 4rem;
	justify-content: center;
	flex-flow: wrap;
	flex-direction: column;
	padding: 10%;
}

.fourthdiv {
	/* background-color: green; */
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
	font-size: 1.5rem;
}



/* footer for all page */

.footer {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	background: #272727;
	width: 100%;
	/* line-height: 20px; */
	/* padding: 1.5rem 5% 5%; */
	color: white;
	justify-content: space-around;
	bottom: 0;
	left: 0;
}


.footer > * {
	flex: 0 0 25%;
}

.address {
	padding: 1rem 1.5rem 0 1.5rem;
}

.email {
	padding: 1rem 1.5rem 0 1.5rem;
}

.contact {
	padding: 1rem 1.5rem 0 1.5rem;
}

.copyright {
	padding: 1rem 1.5rem 0 1.5rem;
}

/* footer end */


/* work page */

.workFlex {

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	flex-flow: wrap;
	padding: 1.5rem 5% 5%;
	/* padding: calc(15% + 1.5rem) 5% 5%; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2rem;
	color: white;
	justify-content: space-around;
	align-content: stretch;
}


.workFlex >* {
	flex: 0 0 30%;
}

.work_items{
	margin: 1rem;
}

.work_title {
	display:flex;
	font-size: 3.5rem;
	/* justify-content: center; */
	padding: 1.6rem 0 0 6rem;
	color: white;
	font-family: 'Lato';
	flex-flow: wrap;
}

.skills {
	padding-top: 1rem;
	font-family: 'Rajdhani';
}

.know {
	float:right;
}

/* .modal {
background-color: black;
color: white;
} */


.modal-header {
	text-align: center;
}

.work-button {
	margin: 1.5rem;
}



/* Videos page */

.videocard {
	margin: 3.5rem;
	background-color: black;
}

.videoframe {
	/* margin-right: 2rem; */
	/* margin-left: 2rem; */
	padding-right: 1rem;
	padding-left: 1rem;
}


/* Videos end */



/* single resume page */




/* resume end */


/* Contact me */

.contain{
	width: 100%;

}

.contactPage {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.cancelButton {
	/* display: flex; */
	text-align: right;
}

.resume {
	text-align: center;
	margin-top: 20px;
}


.contactFlex {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-flow: wrap;
	padding: calc(10% + 1.5rem) 5% 5%;
	font-family: 'Rajdhani';
	font-size: 5rem;
	color: white;
	justify-content: space-around;
	align-content: stretch;
	flex: 1;
}

.contactFlex > * {
	flex: 0 0 100%;
}


.footerContact {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	background: #272727;
	width: 100%;
	color: white;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	left: 0;
	grid-row-start: 2;
	grid-row-end: 3;
}


.footerContact > * {
	flex: 0 0 25%;
}



@media screen and (max-width: 360px) {
	.contactFlex {
		font-size: 2rem !important;
	}

}

@media screen and (max-width: 373px) {

	.know {
		width: 100%;
	}

	.code {
		float: none;
		margin-top: 1rem;
		width: 100%;
	}
}


@media screen and (max-width: 800px) {


	.name {
		margin-top: 1rem !important;
	}

	.workFlex {
		flex-direction: column;
		font-size: 1rem;
	}

	.workFlex>* {
		flex: 0 0 50%;
	}

	.work_items {
		margin: 1rem;
	}


	.work_title {
		font-size: 20px;
	}

	.contactFlex {
		font-size: 3rem;
	}


}


@media screen and (max-width: 918px) {

	.bl-main > section {
		position: absolute;
		width: 100%;
		height: 25%;
	}

	.bl-main > section:first-child {
		left: 0;
		background: #F15F11;
	}

	.bl-main > section:nth-child(2) {
		top: 25%;
		left: 0;
		background: #EE8216;
	}

	.bl-main > section:nth-child(3) {
		top: 50%;
		left: 0;
		background: #72CCA7;
	}

	.bl-main > section:nth-child(4) {
		top: 75%;
		left: 0;
		background: #10A296;
	}


	.bl-box {
		position: relative;
		width: 100%;
		height: 100%;
		/* cursor: pointer; */
		opacity: 1;
		/* Centering with flexbox */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-box-pack: center;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-box-align: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bl-box h2 {
		text-align: center;
		margin: 0;
		padding: 20px;
		width: 100%;
		font-size: 200%;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
	}


	.bl-icon {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		cursor: pointer;
		-webkit-font-smoothing: antialiased;
	}


	.bl-icon:before {
		display: block;
		font-size: 2em;
		margin-bottom: 10px;
	}


	.sm-heading {
		display: flex;
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		font-size: 75%;
		justify-content: center;
		flex-flow: wrap;
	}

	.flextry{
		flex-direction: column;
		flex-flow: wrap;
	}

	.flextry>* {
		flex: 0 0 100%;

	}

	.img-circle {

		width: 200px;
		height: 200px;
		align-self: center;
		padding:0;
	}

	.name {
		margin: 0;
		display: flex;
		font-size: 1.5rem !important;
		justify-content: center;
		flex-flow: wrap;
	}

	.fewThings {

		display: flex;
		font-size: 150% !important;
		/* flex-direction: column; */
		justify-content: center;
		flex-flow: wrap;
		margin: -10% !important;
		margin-bottom: 2px !important;

	}

	.seconddiv {
		margin-top: -100px;
	}


	.fourthdiv {
		font-size: 90%;
	}

	.contactFlex {
		font-size: 3.5rem;
	}


}


@media screen and (max-width: 1100px) {
	.footer {
		flex-direction: row;
		justify-content: center;
		flex-flow:wrap;
	}
	.footer > * {
		flex: 0 0 50%;
	}

	.address {

		padding: 0.25rem 0 0 0;
	}

	.email {
		padding: 0.5rem 0 0 0;
	}

	.contact {
		padding: 0.25rem 0 0 0;
	}

	.copyright {
		padding: 0.5rem;
	}

	/* .footerContact {
		flex-direction: row;
		justify-content: center;
		flex-flow: wrap;
	}
	.footerContact > * {
		flex: 0 0 50%;
	} */


}


@media screen and (max-width: 1200px) {
	.workFlex>* {
		flex: 0 0 50%;
	}

	.work_items {
		margin-bottom: 1rem;
	}

	.work_title {
		font-size: 3rem;
	}

}

@media screen and (max-width: 1310px) {

	.sm-heading {
		display: flex;
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		font-size: 1rem;
		justify-content: center;
	}


	.img-circle {
		margin-top: 10%;
		width: 200px;
		height: 200px;
		align-self: center;
	}

	.name {
		display: flex;
		font-size: 2rem;
		justify-content: center;
		flex-flow: wrap;
	}

	.fewThings {
		font-size: 200%;

	}

}
